.center-text {
  text-align:center;
}

.dark-background {
 background-color:#332E32;
  color:#D8D4F2;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
  border: 10px;
}

.light-background {
  background-color:#D8D4F2;
  color:#332E32;
}

.wrapper {
  width:350px;
  margin:auto;
}
header div h1 {
  font-family:'Courier New', Courier, monospace;
  font-size:50px
}
img {
width:300px;
height:400px;
}
.btn{
  display: inline;
  font-family:'courier New';
  font-size:15px;
  text-align:center;
  margin:10px;
  padding:2px 20px;
  color:#D8D4F2;
  background-color:#2D3047;
}
hr{
  height:4px;
  background-color:#2D3047;
}
.wrapper{
  margin-right:auto;
}
